EXTERNAL_PORT=4999
BACKEND_EXTERNAL_PORT=4998
BACKEND_IMAGE=patriot161/check_diplom:backend-test
FRONTEND_IMAGE=patriot161/check_diplom:frontend-test

POSTGRES_DB=check_diplom_db
POSTGRES_USER=check_diplom_user
POSTGRES_PASSWORD=change_me_strong_password
DB_HOST=postgres
DB_PORT=5432

DJANGO_SECRET_KEY=change_me_long_random_secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=138.124.61.62,localhost,127.0.0.1
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=mail.hosting.reg.ru
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_HOST_USER=no-reply@example.com
DJANGO_EMAIL_HOST_PASSWORD=change_me_email_password
DJANGO_EMAIL_USE_TLS=False
DJANGO_EMAIL_USE_SSL=True
DJANGO_DEFAULT_FROM_EMAIL=no-reply@example.com
